// Site phone
#block-sitephone-2 {
    h2 {
        color: $primary-color;
    }
}

#block-siteslogan-2 {
    margin: 2rem auto;
    background: $primary-color;
    max-width: 600px;
    text-transform: uppercase;
    text-align: center;

    .field {
        padding: 2rem;

        h2 {
            font-size: rem-calc(32);
            color: $white;
            font-weight: 300;
        }
    }
}